{% extends "layout.html" %}

{% block title %}
    Release Info
{% endblock %}

{% block main %}
    <!-- Release Info page with images as external links to sneaker release informational websites -->
    <h1>Release Info</h1>
    <br>
    <a href="https://sneakernews.com/release-dates/">
        <img src="https://i.pinimg.com/280x280_RS/3e/2c/13/3e2c136f5280db5e868247eb31ab0be3.jpg" alt="Sneaker News">
    </a>
    <a href="https://solecollector.com/sneaker-release-dates/all/">
        <img src="https://is1-ssl.mzstatic.com/image/thumb/Purple124/v4/40/ab/34/40ab3484-be40-6112-74ec-cb4f40c29c55/source/512x512bb.jpg" alt="Sole Collector">
    </a>
    <a href="https://www.kicksonfire.com/app/">
        <img src="https://is1-ssl.mzstatic.com/image/thumb/Purple114/v4/d3/af/12/d3af12e6-5fce-9a15-6b70-ae5e4498ddff/AppIcon-1x_U007emarketing-0-10-0-85-220.png/246x0w.png" alt="Kicks on Fire">
    </a>
{% endblock %}