{% extends "layout.html" %}

{% block title %}
    Shops
{% endblock %}

{% block main %}
    <!-- Shops page with images as external links to sneaker store websites -->
    <h1>Shops</h1>
    <br>
    <a href="https://www.goat.com/">
        <img src="https://pbs.twimg.com/profile_images/1186271879692091395/j-KkjXxL_400x400.jpg" alt="GOAT">
    </a>
    <a href="https://stockx.com/">
        <img src="https://pbs.twimg.com/profile_images/1175123579505127424/K5bbUBdZ_400x400.jpg" alt="StockX">
    </a>
    <a href="https://www.stadiumgoods.com/">
        <img src="https://mediaservice.retailmenot.com/ws/mediagroup/4GCRND3BW5EIRKXCKRFVWS2EVI?width=340&height=340" alt="Stadium Goods">
    </a>
{% endblock %}